/* HELPER */
.h-130 {
  height: 110px;
}
.rel {
  position: relative;
}
.bg-white {
  background-color: #FFFFFF;
}
.bg-blue {
  background-color: #0061FE;
  color: #FFFFFF;
}
.bg-blue-dark {
  background-color: #00239D;
  color: #FFFFFF;
}
.bg-grey {
  background-color: #F3F5F9;
}
.bg-dark {
  background-color: #031C4E;
  color: #FFFFFF;
}
/* GENERAL */
h1{
  font-size: 3.6rem;
  margin-top: 3.6rem;
}
ul {
  margin-bottom: 0;
}
span {
  display: inline-block;
}
/* HEADER */
header .nav-bar {
  height: 66px;
  line-height: 66px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
header .nav-bar img {
  height: 28px;
}
header .nav-bar li a {
  color: black;
}
header .nav-bar li a:hover {
  text-decoration: none;
  color: #0061FE;
}
header .nav-bar li a.nav-top-button {
  color: #0061FE;
  padding: 8px;
  border: 1px solid #0061FE;
  border-radius: 5px;
}
header .nav-bar li a.nav-top-button:hover {
  color: white;
  background-color: #0061FE;
}
header .jumbo {
  margin-top: 66px;
}
header .jumbo h1 {
  color: white;
  margin-bottom: 1.2rem;
}
header .jumbo p {
  font-size: 1.6rem;
  color: lightgrey;
}
header .card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}
header h2{
  display: inline-block;
  margin-top: 3rem;
  font-size: 2.8rem;
  color: black;
}
header h3{
  display: inline-block;
  font-size: 2.8rem;
  margin-top: 0;
  color: #0061FE;
}
header input {
  width: 90%;
  font-size: 1.6rem;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
header .height {
  height: 5px;
}
header button {
  width: 90%;
}
header button.btn-primary {
  background-color: #0061FE;
}
header span {
  font-size: 1rem;
  color: black;
  margin-bottom: 30px;
}
header span a {
  color: #0061FE;
}
header span a:hover {
  text-decoration: none;
  color: green;
}
/* MAIN */
main {
  text-align: center;
}
main .logos span{
  margin-top: 30px;
  margin-bottom: 30px;
}
main .logos span a:hover {
  text-decoration: none;
  color: #0061FE;
}
main .deploy p{
  color: grey;
}
main .deploy #left-border {
  margin-left: 10px;
  margin-bottom: 10px;
  border-left: 2px solid grey;
}
main .deploy ul li {
  text-align: left;
  color: grey;
  margin-left: 5px;
}
main .deploy .row .row {
  text-align: left;
}
main .deploy strong, main .features strong {
  display: block;
}
main .deploy span, main .features span {
  color: grey;
  font-size: 1.2rem;
}
main .designed img{
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
}
main .designed span {
  color: grey;
}
main .designed span:not(:first-of-type) {
  display: block;
  font-size: 1.2rem;
  color: black;
}
main .designed a {
  color: #00239D;
}
main .designed .row {
  margin-bottom: 10px;
}
main .features .row>div:not(:nth-of-type(1)) {
  text-align: left;
}
main .features h1{
  margin-bottom: 3.6rem;
}
main .features a {
  font-size: 1.4rem;
  color: #0061FE;
  display: block;
  margin-bottom: 5px;
}
main .features a:hover {
  color: #00239D;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
main .features .reliable {
  margin-bottom: 3.6rem;
}
main .service #tab-1, main .service #tab-2{
  text-align: left;
  margin-bottom: 15px;
}
main .service span {
  margin-left: 20px;
  color: lightgrey;
}
main .service a {
  float: right;
  color: #00D7D2;
}
main .service a:hover {
  color: #FFFFFF;
}
main .service hr {
  margin: 5px 0;
}
main .development h1{
  margin-bottom: 50px;
}
main .development .card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
main .development .card img {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .development .card span:first-of-type {
  color: grey;
  margin-bottom: 10px;
}
main .development .card span:nth-of-type(2), main .development .card span:nth-of-type(3) {
  font-size: 1.2rem;
  display: block;
}
main .development a {
  color: #00239D;
}
main .development .card a {
  display: block;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .development .card a:hover {
  text-decoration: none;
  color: green;
}
main .development a .fa-circle {
  margin-top: 20px;
  margin-bottom: 40px;
}
main .get a {
  display: inline-block;
  font-size: 1.8rem;
  background-color: #FFFFFF;
  color: #0061FE;
  padding: 8px;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 3.6rem;
}
main .get a:hover {
  text-decoration: none;
  color: white;
  background-color: #0061FE;
  border: 1px solid white;
}
/* FOOTER */
footer .container>.row {
  margin-top: 50px;
}
footer .row .row>* {
  margin-top: 20px;
}
footer span {
  display: block;
  color: lightgrey;
}
footer p {
  color:grey;
}
footer a {
  color: lightgrey;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
footer a i {
  margin-right: 10px;
}
footer strong {
  margin-top: 20px;
  color: white;
  font-size: 1.6rem;
}
footer li {
  margin-top: 5px;
  margin-bottom: 5px;
}
footer #support {
  margin-bottom: 50px;
}
/* MEDIA QUERY */
@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .h-130 {
    height: 130px;
  }
  header .card {
    margin-top: 3.6rem;
  }
  main .service span {
    margin-left: 40px;
  }
  footer #community {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .h-130 {
    height: 130px;
  }
  header .card {
    margin-top: 3.6rem;
  }
  main .service span {
    margin-left: 30px;
  }
  main .designed img{
    margin-top: 20px;
  }
  footer #products {
    margin-bottom: 50px;
  }
}
